/* Projeto 05 */
/* Alguns tipos de background */

/* fundo do elemento com uma cor */
.paragrafo-1 {
    background-color: red;
    color: white;
}

/* fundo com imagem */
.paragrafo-2 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/img2.png)
}

/* fundo com imagem sem repetição */
body {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/logo.png);

    /* para deixar sem repetição use o atibuto no-repeat */

    background-repeat: no-repeat;
}

/* Alem do no-repeat você pode especificar que quer que ele repita apenas para uma direção usando os comandos repeat-y e repeat-x */

.paragrafo-3 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/img2.png);
    background-repeat: repeat-x;
}

#paragrafo-4 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/img2.png);
    background-repeat: repeat-y;

}

/* Podemos usar o elemento cover para fazer com que a imagem preencha todo o espaço */

#paragrafo-5 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/img2.png);
    background-size: cover;
}

/* Para impedir que uma imagem se repita use o atributo no-repeat */

#paragrafo-6 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/img2.png);
    background-repeat: no-repeat;
}

/* Para criar um efeito de imagem fixada no fundo da pagina use: */

.paragrafo-7 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/principal.png);
    background-attachment: fixed;
}

/* Efeito padrão, necesita ser configurado de forma específica para funcionar. OBS> buscar mais sobre no youtube. */

.paragrafo-8 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/principal.png);
    background-attachment: scroll;
}

/* você também pode deixar uma imagem centralizada */
.paragrafo-9 {
    background-image: url(../../HTML/Conceitos-Basicos/imgs/img2.png);
    background-repeat: no-repeat;
    background-position: center;
}